{% extends 'base2.html' %}
{% load static %}

{% block 'titulo' %}Menu do Administrador{% endblock %} 

{% block 'head' %}{% endblock %}

{% block 'conteudo' %}

    <div class="tituloA">
        <h1>Opções do Administrador</h1>
    </div>

    <div class="conteudoA">
        
        
        <a class="opcaoA" href="{% url 'cadResultados' %}" style="cursor: pointer;">
            <div class="opcao">
                <div>
                    <h3>Cadastrar Resultados</h3>               
                </div>
            </div>
        </a>
        
        <!-- <a class="opcaoA" href="" style="cursor: pointer;">
            <div class="opcao">
                <div>
                    <h3>Opção 2</h3>               
                </div>
            </div>
        </a> -->

    </div>

    <div class="Sair">
        <a class="opcaoA" href="{% url 'sairA' %}" style="cursor: pointer;">
            <div class="opcao">
                <div>
                    <h3>Sair</h3>               
                </div>
            </div>
        </a>
    </div>
    

{% endblock %}