{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Login{% endblock %} 

{% block 'head' %}<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">{% endblock %}

{% block 'conteudo' %}

    {% if status == '1'%}
        <div class="alerta errado">
            <p>*Erro ao efetuar o login!</p> 
        </div>
    {% endif %}


    {% if status == '2'%}
        <div class="alerta certo">
            <p>Senha alterada com sucesso!!</p> 
        </div>
    {% endif %}


    {% if status == '3'%}
        <div class="alerta errado">
            <p>Você precisa realizar o login primeiro!</p> 
        </div>
    {% endif %}

    <!-- # Senha alterada com sucesso! -->

    <div class="titulo">
        <h1>Login</h1>
    </div>

    <form class="formulario" method="POST" action="{% url 'valida_login' %}"> {% csrf_token %}
        <input autocomplete="off" class="inputs" name="email" type="text" placeholder="Email">
        <input autocomplete="off" class="inputs" name="senha" type="password" placeholder="Senha">
        <div class="centralizados">
            <input class="btn btn-info btn-lg" type="submit" value="Entrar">
            <a href="{% url 'cadastro' %}">Cadastro</a>
            <a href="{% url 'mudar_senha' %}">Esqueci a Senha</a>
        </div>
    </form>



{% endblock %}