# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files # 
*.bak 

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

src/aposcar/__pycache__/
src/filmes/__pycache__/
src/pagina_inicial/__pycache__/
src/usuarios/__pycache__/

