.alertas {
    width: 100%;
    font-size: 25px;
    /* border: 1px solid yellow; */
    min-height: 200px;
    display: flex;
    align-items: center;
}

.alertas p {
    margin-left: 3em;
}

.errado {
    color: #FC5922;
}

.titulo {
    margin-bottom: 3em;
    width: 100%;
    text-align: center;
    font-size: 30px;
    
    /* border: 1px solid green; */
}


form {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 10em;
    flex-direction: column;
}

.inds {
    /* border: 1px solid yellow; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5em;
}

.indicado {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 3em;
    margin-bottom: 3em;
    justify-content: center;
    align-items: center;
}

.indicado input {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    padding: 0px;
    border:0;
    width: 270px;
    height: 125px;
    font-size: 40px;
    text-align: center;
    background-color: #141414;
    border: 1px solid white;
    color: white;
    overflow: scroll;
    font-family: 'Varela Round', sans-serif;
}

.infInd {
    /* border: 1px solid red; */
    text-align: center;
    
}

.infInd img {
    height: 400px;
    
}

.enviar {
    cursor: pointer;
    width: 40%;
    height: 50px;
    font-size: 25px;
    text-align: center;
    border: 1px solid white;
    background-color: #141414;
    color: white;
    font-family: 'Varela Round', sans-serif;
    transition: ease-in-out 0.2s;
}

.enviar:hover {
    background-color: #FCCD30;
    color: #141414;
    height: 55px;
}

.linkFilme {
    transition: ease-in .3s;
}

.linkFilme:hover {
    color: #FCCD30;
    border: 1px solid #FCCD30;
}

.ValorA {
    display: flex;
    /* border: 1px solid orange; */
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
    flex-direction: column;
}

.ValorA label {
    font-size: 18pt;
    margin-bottom: 5px;
}

.ValorA div {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.ValorA div p {
    font-size: 25pt;
    margin-right: 15px;
}

.ValorA div input {
    width: 250px;
    height: 60px;
    text-align: center;
    border: 1px solid white;
    background-color: #141414;
    color: #FCCD30;
    font-family: 'Varela Round', sans-serif;
    font-size: 30pt;
}


