.Titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    z-index: -2;
}

.Banner {
    width: 100%;
    z-index: -3;
}

.Banner img, .conteudoTitulo {
    height: 550px;
    width: 100%;
}

.Banner img {
    object-fit: cover;
    position: relative;
    justify-content: center;
}

.conteudoTitulo{
    display: flex;
    justify-content: center;
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(360deg, rgba(20,20,20,1) 5%, rgba(255,255,255,0) 100%);
}

.Titulo h1 {
    margin-top: 450px;
    font-size: 6em;
    margin-right: 25px;
    text-shadow: 3px 3px 0em rgba(20, 20, 20, .5);
} 

/* ------------------------------------------ */

.textoCredito {
    width: 100%;
    /* border: 1px solid yellow; */
    margin-bottom: 7em;
    display: flex;
    justify-content: center;
}

.textoCredito div {
    padding-top: 2em;
    padding-bottom: 2em;
    width: 60%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.textoCredito p {
    font-size: 22px;
    text-align: justify;
    
}

.textoCredito img {
    height: 250px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.textoCredito a {
    transition: ease-in 0.4s;
}

.textoCredito a:hover {
    text-decoration: underline;
    color: #01b4e4;
}

/* ------------------------------------------ */



.BestPic, .conteudoBestPic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BestPic {
    /* border: 1px solid #fff; */
    margin-bottom: 5em;
    width: 100%;
    flex-direction: column;
}

.titulo{
    font-size: 25px;
}

.conteudoBestPic{
    width: 80%;
}

.cadaPoster {
    height: 200px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: linear 0.2s;
    display: flex;
    font-size: 0px;
    justify-content: flex-start;
}

.cadaPoster:hover {
    position: relative;
    height: 250px;
    font-size: 16px;
}

.cadaPoster img {
    height: 100%;
    margin-bottom: 0;
}

.cadaPoster p {
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
}

.Info {
    height: 360px;
    width: 100%;
    border: 1px solid;
}
.Info h2{
    font-size: 2.5em;
    display: flex;
    justify-content: center;
}
.Info p{
    font-size: 15pt;
    float: left;
    text-align: justify;
    margin: 0px;
    width: 50%;
    padding: 0 0 0 4em;
}
.Info figure{
    float: right;
    margin: 0;
    padding: 0 10em 0 0;
    position: relative;
    top: -38%;
    font-size: 12px;
    text-align: center;
}
.regras{
    height: 200px;
    width: 100%;
    border: 1px solid yellow;
}
.regras h2{
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    position: relative;
    left: 10%;
}
.regras p{
    font-size: 15pt;
    text-align: justify;
    margin: 0px;
    padding: 0 4em 0 4em;
}