{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Créditos{% endblock %} 

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block 'conteudo' %}
    <div class="Titulo">
        <div class="Banner">
            <img src="{{banner}}">
        </div>
        <div class="conteudoTitulo">
            <h1>Créditos</h1>
        </div>
    </div>


    <div class="textoCredito">
        <div class="paragrafo">
            <p>Todos os dados referentes aos filmes (título, duração, atores, gêneros, imagens, entre outros) foram fornecidos pelo <a href="https://www.themoviedb.org/" target="_blank" style="color:#90cea1"><i>The Movie Database</i></a> (TMDb).</p>
            <img class="logo_tmdb" src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg">
        </div>

        <div class="paragrafo">
            <p>Para os dados referentes as indicações, as informações apresentadas aqui foram extraídas do site do próprio, encontrado aqui: <a href="https://www.oscars.org/oscars/ceremonies/2022" target="_blank" class="yellow">Oscar</a>!</p>
            <img class="logo_oscar" src="../../static/img/logo_oscar.png">
        </div>

        <div class="paragrafo">
            
            <p>Outros sites importantes que visitamos foram:</p>
            <ul>
                <a class="yellow" href="https://www.imdb.com/" target="_blank"><li>IMDb</li></a>
                
                <a class="yellow" href="https://www.rottentomatoes.com/" target="_blank"><li>Rotten Tomatoes</li></a>
                
                <a class="yellow" href="https://letterboxd.com/" target="_blank"><li>Letterboxd</li></a>
                
                <a class="yellow" href="https://www.justwatch.com/" target="_blank"><li>JustWatch</li></a>
            </ul>
        </div>

    </div>
    
{% endblock %}