*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

*.bak 

pip-log.txt 
pip-delete-this-directory.txt 

apostas/__pycache__/
aposcar/__pycache__/
filmes/__pycache__/
pagina_inicial/__pycache__/
usuarios/__pycache__/

