{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Finalizar Aposta{% endblock %} 

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/finalizar.css' %}">
    <link rel="stylesheet" href="{% static 'css/apostas.css' %}">
{% endblock %}

{% block 'conteudo' %}

    <div class="titulo">
        <h1>
            Você já realizou a aposta!
        </h1>
    </div>


    <div class="ConteudoFinalizar">

        <div class="valorApostado">
            <p>Valor apostado:</p>
            <p style="margin-left: 15px; margin-right: 15px; color: #FCCD30; font-size: 35pt;">{{aposta.valor}}</p>
            <p>R$</p>
        </div>

        <div class="colunas">

            <div class="posicao">
                <p>Posição</p>
            </div>

            <div class="indicadoC">
                <p>Indicado</p>
            </div>

            <div class="ganha">
                <p>Ganha</p>
            </div>

            <div class="perde">
                <p>Perde</p>
            </div>

        </div>

        {% for i in ranking %}
            <div class="Indicado">

                <div class="Pos">
                    <h1>
                        {{forloop.counter}}º
                    </h1>
                </div>
                
                <div class="Imagem">
                    {% if i.Ator == 1 %}
                        <img src="{{i.imagem.imagem}}">    
                    {% else %}
                        <img src="{{i.imagem}}">
                    {% endif %}
                    
                </div>

                <div class="Infor">
                    <p>
                        {{i.Nomeacao.0.responsavel}}
                    </p>

                    <p>by</p>

                    <p style="color:#FCCD30">
                        {{i.Filme.nome}}
                    </p>

                </div>

                <div class="valores">

                    <div class="valorGanho">
                        {% if i.premio.0 > 0 %}
                            <p style="color: #A7AB42;" class="premioV">+{{i.premio.0}}</p>
                        {% else %}
                            <p class="premioV">{{i.premio.0}}</p>
                        {% endif %}
                        <p>R$</p>
                    </div>

                    <div class="valorPerdido">
                        {% if i.premio.1 > 0 %}
                            <p style="color: #FC5922;" class="premioV">-{{i.premio.1}}</p>
                        {% else %}
                            <p class="premioV">{{i.premio.1}}</p>
                        {% endif %}
                        <p>R$</p>
                    </div>
                </div>

            </div>
        {% endfor %}

        <div class="botoes">
            <a onclick="window.history.back()">
                <button>Voltar</button>
            </a>
        </div>

    </div>

{% endblock %}