{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Categorias{% endblock %} 

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/categorias.css' %}">
{% endblock %}

{% block 'conteudo' %}

    <div class="Titulo">
        <div class="Banner">
            <img src="{{banner}}">
        </div>
        <div class="conteudoTitulo">
            <h1>Categorias</h1>
        </div>
    </div>

    {% if status == '1' %}
        <div class="apostaEnc">
            <p>Os resultados já sairam, por isso não são mais aceitos novas apostas!</p>
        </div>
    {% endif %}

    <div class="TodasCat">
        {% for i in categoriasTodas %}
            <div class="UmaCat">
                <a href="{% url 'montar' i.0 %}">
                    <h1>
                        {{i.1}}
                    </h1>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}