{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Finalizar Aposta{% endblock %} 

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/finalizar.css' %}">
    <link rel="stylesheet" href="{% static 'css/apostas.css' %}">
{% endblock %}

{% block 'conteudo' %}

    {% if status == '0'%}
        <div class="alerta certo">
            <p>Aposta cadastrada com sucesso!</p> 
        </div>
    {% endif %}


    {% if status == '1'%}
        <div class="alerta errado">
            <p>Houve um problema ao tentar cadastrar a aposta!</p> 
        </div>
    {% endif %}

    
    <div class="titulo">
        <h1>
            Finalizar Aposta
        </h1>
    </div>


    <div class="ConteudoFinalizar">

        {% for i in indicados %}
            <div class="Indicado">

                <div class="Pos">
                    <h1>
                        {{forloop.counter}}
                    </h1>
                </div>

                <div class="Imagem">
                    <img src="{{i.imagem}}">
                </div>

                <div class="Infor">
                    <p>
                        {{i.Nomeacao.0.responsavel}}
                    </p>

                    <p>by</p>

                    <p style="color:#FCCD30">
                        {{i.Filme.nome}}
                    </p>

                </div>
            </div>
        {% endfor %}

        <div class="botoes">
            <a onclick="window.history.back()">
                <button>Voltar</button>
            </a>
            <a href="{% url 'salvaAposta' %}">
                <button type="submit">Finalizar Aposta</button>
            </a>
        </div>

    </div>

    
{% endblock %}